@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "components/components";
@import "forge";

$hero-height: 70vh;
$hero-min-height: 34em;
$visual-grid: true !global;

$cowork-green: #e1e540;
$charcoal: #333;

body {
  font-family: $sans-serif;
  margin: 0;
}

.section, section.main {
  @include outer-container;
}


.navigation {
  ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  li {
    vertical-align: middle;
    text-align: center;
  }

  a {
    color: #fff;
    text-transform: uppercase;
  }
}

body.index {
  & .item {
    padding: 2em 0;

    &:nth-child(2n+1) {
      background-color: $cowork-green;
      color: #000;
    }
  }

  .welcome {
    background: url("../images/splash.jpg") top center no-repeat fixed;
    background-size: cover;
    height: $hero-height;
    min-height: $hero-min-height;

    .navigation {
      @include span-columns(9);

      font-size: 1.25em;
      height: 9em;
      @media(min-width: 990px) {
        font-size: 1.4em;
      }
    }

    .logo {
      @include span-columns(3);

      height: 9em;
      text-align: center;
    }
  }

  .color-overlay {
    background: rgba(255, 177, 0, 0.75);
    height: $hero-height;
    min-height: $hero-min-height;
  }

  .hero {
    padding: 4em 0 1em;

    h1 {
      @include span-columns(6);

      color: #fff;
      font-family: $sans-serif;
      font-weight: normal;
    }

    .call-to-action {
      @include span-columns(6);

      color: #fff;
      text-align: left;
      font-size: 1.1rem;
      transition: 0.3s;

      .button {
        @extend %button;

        background-color: $cowork-green;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
        width: 100%;

        a:link, a:visited {
          color: #333;
        }

        span {
          display: block;
          font-size: 1.5rem;
        }

        &:hover {
          background: #19b8e2;

          a {
            color: white;
          }
        }
      }
    }
  }

  .section {
    //min-height: 10em;
  }
}

.index .events {
  .content {
    @include span-columns(7);
  }

  ul.events-list {
    @include span-columns(5);
    li {
      height: 144px;
      width: 144px;
      float: left;
      @include hide-text();
      background-size: cover !important;
    }
    .devtricks {
      background: transparent url('../images/events/devtricks.png') no-repeat center center;
    }
    .biztricks {
      background: transparent url('../images/events/biztricks.png') no-repeat center center;
    }
    .unstuck {
      background: transparent url('../images/events/unstuck.png') no-repeat center center;
    }
    .writetricks {
      background: transparent url('../images/events/writetricks.png') no-repeat center center;
    }
    .podtricks {
      background: transparent url('../images/events/podtricks.png') no-repeat center center;
    }
    .openhack {
      background: transparent url('../images/events/openhack.png') no-repeat center center;
    }
  }
}

.index .item.events {

}

.header {
  @include clearfix;

  background-color: #ffb100;
  height: 4em;

  .logo {
    @include span-columns(3);

    text-align: center;
  }

  .navigation {
    @include span-columns(9);

    height: 4em;

    a {
      font-weight: 600;
    }
  }
}

.masthead {
  //background: url("../images/brickwall.png") repeat-x;
  //background-color: #ccff00;
  background-color: $cowork-green; //#e5e522;
  margin-bottom: 2em;
  padding: 1em 0;
  //border-top: 1px solid #ddd;
  //box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

  h1 {
    font-size: 1.6em;
    //color: darken(#eee, 65%);
    //color: #fff;
    //text-shadow: 2px 2px 2px #ccc; //rgba(255, 255, 255, 1);
    font-weight: normal;
    color: #000;
  }
}


body.find-us {
  .map {
    border: 1px solid #ddd;
    float: right;
    margin: 0 0 1em 1em;
  }

  .parking-map {
    border: 1px solid #ddd;
    float: right;
    width: 400px;
    height: 300px;
    margin: 0 0 1em 1em;
  }
}

.footer {
  background: darken(#ddd, 75%);
  padding: 2em 0;
  margin-top: 2em;

  .niagara-coop-network {
    @include span-columns(2);

    img {
      height: 110px;
    }
  }

  .links {
    @include span-columns(7);
    @include shift(3);

    color: #fff;
    text-align: right;
    display: table-cell;
    vertical-align: middle;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 110px;
    }

    li {
      text-align: center;
      vertical-align: middle;
    }

    li:last-child {
      margin-right: 2em;
    }

    a {
      color: #fff;
    }

    img {
      float: right;
      height: 110px;
      margin-left: 1em;
    }
  }
}

ul.list {
   @extend %default-ul;
}

body.events {
  .event {
    display: table;
    margin-top: 2em;
  }

  .event-logo {
    display: table-cell;
    width: 190px;
    vertical-align: top;
    padding-right: 20px;
  }

  .event-details {
    display: table-cell;
    vertical-align: top;
  }

  dd {
    display: inline;
    margin: 0;
  }

  dd:after {
    display: block;
    content: '';
  }

  dt {
    display: inline-block;
    min-width: 8em;
    margin-right: 1em;
    margin-top: 0;
  }
}

.section.not-alone {
  h1 {
    background: $charcoal url('../images/macbook.jpg') no-repeat 0 -3em;
    background-size: cover;
    min-height: 10em;
    padding-top: 2.5em;
    padding-left: 1em;
    padding-right: 50%;
    margin-bottom: 1em;
    width: 100%;
    color: white;
    text-shadow: rgba(0,0,0, 0.8) .125em .125em .5em;
  }
}

.section.promotional {
  @include outer-container;

  ul>li {
   display: inline-block;
   text-align: left;

   img {
    min-width: 200px;
    height: 5em;
   }

  }

}

.cta {
  @extend %button;
  font-size: 1.5em;
}

.mobile-toggle {
  display: none;
}

.event-logo img {
  min-width: 7.5em;
  max-width: 14em;
}

@import "mobile";
