<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title%> || Cowork Niagara IndyBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= current_page.data.seo_desc %>">
     <meta property="og:title" content="<%= current_page.data.title || "" %> || Cowork Niagara IndyBlog">
    <meta property="og:url" content="<%= URI.join("http://www.coworkniagara.com", current_page.url) %>">
    <% unless current_page.data.featured_image.nil? %>
      <meta property="og:image" content="<%= "http://www.coworkniagara.com/#{asset_url(current_page.data.featured_image)}" %>"/>
    <% end %>
    <meta property="og:description" content="<%= current_page.data.seo_desc %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coworkniagara">
    <meta name="twitter:creator" content="@trevortwining">
    <meta name="twitter:title" content="<%= current_page.data.title %>">
    <meta name="twitter:description" content="<%= current_page.data.seo_desc %>">
    <% unless current_page.data.featured_image.nil? %>
    <meta name="twitter:image" content="<%= "http://www.coworkniagara.com/#{asset_url(current_page.data.featured_image)}" %>">
    <% end %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <% unless development? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51684825-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </body>
</html>
