<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || "Cowork Niagara" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all", async: true %>
    <title><%= current_page.data.title || "Cowork Niagara" %></title>
    <meta name="description" content="Cowork Niagara is where freelancers, distance workers and small business work, collaborate and make awesome stuff together.">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@coworkniagara">
    <meta name="twitter:title" content="<%= current_page.data.title || "Cowork Niagara" %>">
    <meta name="twitter:description" content="Cowork Niagara is where freelancers, distance workers and small business work, collaborate and make awesome stuff together.">
    <meta name="twitter:creator" content="@coworkniagara">
    <meta name="twitter:image" content="<%= image_url("splash.jpg") %>">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= current_page.data.title || "Cowork Niagara" %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.coworkniagara.com/">
    <meta property="og:image" content="<%= image_url("splash.jpg") %>">
    <meta property="og:description" content="Cowork Niagara is where freelancers, distance workers and small business work, collaborate and make awesome stuff together.">
    <meta property="og:site_name" content="Cowork Niagara">

    <!--
      Oh, hello there!

      Curious about the Cowork Niagara website are you? Well, first off let me start
      by welcoming you to the Cowork Niagara website, Home of Niagara's Independent
      Workforce.

      This site is built using Middleman, Sass, Bourbon, and Neat. The file you're
      reading now was served from a webserver located in Toronto, Canada, operated
      by Mediadrive.ca.

      Did you know our site is open source? You can view everything used to build
      the site here: https://gitlab.com/coworkniagara/coworkniagara.com

      If you want to meet some other people interested in websites and code, you
      should come by and visit sometime!
    -->
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <% unless development? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51684825-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </body>
</html>
