<!DOCTYPE html>
<html lang="en">
    <%
    case page_type
     when 'day'
       titlevalue = Date.new(year, month, day).strftime('%b %e %Y')
      when 'month'
        titlevalue = Date.new(year, month, 1).strftime('%b %Y')
      when 'year'
        titlevalue = year
      when 'tag'
        titlevalue = 'by tag (' + tagname + ')'
    end %>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= current_page.data.seo_desc %>">
     <meta property="og:title" content="Archive for <%= titlevalue %> || Cowork Niagara IndyBlog">
    <meta property="og:url" content="<%= URI.join("http://www.coworkniagara.com", current_page.url) %>">
    <% unless current_page.data.featured_image.nil? %>
      <meta property="og:image" content="<%= "http://www.coworkniagara.com/#{asset_url(current_page.data.featured_image)}" %>"/>
    <% end %>
    <meta property="og:description" content="<%= current_page.data.seo_desc %>">
    <meta name="description" content="<%= current_page.data.seo_desc %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coworkniagara">
    <meta name="twitter:creator" content="@coworkniagara">
    <meta name="twitter:title" content="<%= current_page.data.title %>">
    <meta name="twitter:description" content="<%= current_page.data.seo_desc %>">
    <% unless current_page.data.featured_image.nil? %>
    <meta name="twitter:image" content="<%= "http://www.coworkniagara.com/#{asset_url(current_page.data.featured_image)}" %>">
    <% end %>

    <title>Archive for <%= titlevalue %> || Cowork Niagara IndyBlog</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
  <div class="header">
    <div class="section">
      <div class="w">
        <div class="logo">
          <%= link_to %{<img src="/images/logo-horizontal.svg" alt="Cowork Niagara">}, "/" %>
        </div>

        <div class="mobile-toggle">
          &#9776;
        </div>
      </div>

      <div class="navigation">
        <%= partial "navigation.html" %>
      </div>
    </div>
  </div>

  <div class="masthead">
    <div class="section">
      <h1>Cowork Niagara's IndyBlog</h1>
    </div>
  </div>

  <section class="main">
    <article>
      <h1>Archive for <%= titlevalue %> || Cowork Niagara IndyBlog</h1>
    <% if (image = current_page.data.featured_image) %>
      <img class="featured-image" src="/blog/photos/<%= image %>" alt="<%= current_page.data.featured_alt %>">
    <% end %>
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
    </article>
  </section>
  <% if (author = current_page.data.byline) %>
    <aside class="author">
      <div class="content">
        <h3>About the author: <%=data.authors[author]['name'] %></h3>
        <p><%=data.authors[author]['bio'] %></p>
        <p><span class="label">Twitter: </span><a href="https://twitter.com/<%=data.authors[author]['twitter'] %>">@<%=data.authors[author]['twitter'] %></a></p>
      </div>
    </aside>
  <% end %>
    <%= partial "footer.html" %>

    <% unless development? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51684825-1', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </body>
</html>
