<ul>
  <li><%= link_to "About", "/about.html" %></li>
  <li><%= link_to "Join Us", "/join.html" %></li>
  <li><%= link_to "Events", "/events.html" %></li>
  <li><%= link_to "Find Us", "/find-us.html" %></li>
  <li><%= link_to "Freelance Lab", "/freelance/" %></li>
  <li><%= link_to "IndyBlog", "/blog" %></li>
</ul>
