---
title: About Cowork Niagara
directory_index: false
---

<div class="section">
  <h2>Who we are</h2>

  <p>
    <em>
      Cowork Niagara is the region’s first and only co-operative coworking space
      for self-employed knowledge workers, freelancers, independents, artisans
      and others. We work independently, together.
    </em>
  </p>

  <h3>Our Story</h3>
  <p>
    Cowork Niagara began in 2012 as a small group who gathered at Mahtay Café
    on Wednesday afternoons to grab some coffee, work on our projects, and talk
    about our successes and challenges. As we worked independently together, we
    discovered something amazing – that even though we all worked on different
    projects for different clients in different parts of the country, when we
    worked together we were stronger, more resilient and more agile. We were
    able to overcome our challenges more easily and more effectively.
  </p>

  <p>
    We found that as we solved problems together, we wanted to do this more.
    Gradually, our community grew so much that we decided we needed our own place
    to bring Niagara’s freelance community together so we can plan educational
    events, organize advocacy efforts and support the region’s growing community
    of independents. In May 2014 we opened Niagara’s first and only co-operative
    coworking space.
  </p>

  <p>
    Today, we’re a thriving community of 200+ people who believe in the power of
    working together. Our members are passionate about discovering how we can
    strengthen and grow our freelance community, and we’re active members of the
    Niagara Co-op Network (learn more about why we chose the co-operative model
    and what it can do for you). Our board members are volunteers, so member fees,
    donations and sponsorship funds benefit our membership as a whole.
  </p>

  <p>
    As we support our budding startup community, advocate for open data and raise
    awareness of how coworking helps independents, we’re one of a few local
    grassroots groups helping to transform Niagara’s economic landscape.
  </p>

  <p>
    Our members include:
  </p>

  <ul class="list">
    <li>Software and web developers</li>
    <li>Programmers</li>
    <li>Writers</li>
    <li>Website designers</li>
    <li>Sales pros</li>
    <li>Financial advisors</li>
    <li>Social service organizations</li>
    <li>Co-operatives</li>
  </ul>

  <p>
    We want to know how we can help you succeed. Are you looking for a
    distraction-free place to work, industry-targeted events and opportunities
    to collaborate with other entrepreneurs? We’re waiting for you at Cowork Niagara.
  </p>

  <p>
    Sign up today or visit our space at
    <%= link_to "325 Welland Avenue, St. Catharines", "/find-us.html" %>.
  </p>
</div>

<div class="section">
  <h2>What we do</h2>

  <p>
    As Niagara’s first and only co-operative coworking space, Cowork Niagara is
    a place for entrepreneurs, independents and freelancers to work independently,
    together. This is your space to work distraction-free, engage in professional
    learning and development opportunities and get involved in the freelance
    community through outreach and advocacy efforts.
  </p>

  <p>
    Here’s a short list of the things we do every day to make Niagara entrepreneur-friendly:
  </p>

  <h4>Maintain an awesome space</h4>
  <p>
    We have everything you need to work productively and fight the dreaded isolation
    factor so many freelancers encounter when they work from home. Bring your laptop
    and take a seat at one of our tables or on our big comfy leather couch.
  </p>

  <p>Our amenities include:</p>
  <ul class="list">
    <li>Common work area</li>
    <li>Two meeting rooms with table for client or group meetings</li>
    <li>Printer</li>
    <li>Wi-Fi access</li>
    <li>Library</li>
    <li>Projector</li>
    <li>Fridge and microwave</li>
    <li>Couch and loveseat for when you need a break (or a nap!)</li>
    <li>Coffee (and other caffeinated/non-caffeinated beverages)</li>
  </ul>

  <h4>Organize events</h4>
  <p>
    Since we opened our space in downtown St. Catharines in May 2014, our
    community members and board have been working hard to book our calendar full
    of great events where freelancers and entrepreneurs can learn from one another.
    Whether you’re a copy writer, web developer or sales pro, we’ve got something
    for you. We’re also looking for more organizers.
    <%= link_to "Learn more about our events.", "/events.html" %>
  </p>

  <h4>Community outreach</h4>
  <p>
    We’re constantly looking to meet more of Niagara’s entrepreneurs, freelancers
    and independents. Every Wednesday, we’re at Mahtay Café (241 St. Paul Street)
    to cowork and meet new people.
  </p>

  <p>
    We partner with a number of other groups and organizations, including Software
    Niagara and Startup Niagara to raise awareness of our community, organize
    events and participate in advocacy efforts.
  </p>

  <h4>Government advocacy</h4>
  <p>
    As community-minded entrepreneurs who are changing Niagara’s economic landscape,
    we seize opportunities to take part in conversations with elected officials
    and groups at all levels of government on issues from open data and
    transparency to raising awareness of the local co-operative movement. Our
    voices are stronger when we speak as a collective.
  </p>

  <p>
    We couldn’t engage in this important community building without member support
    and participation. Memberships, event fees, sponsorships and donations allow
    us to keep the space open, organize events and advocate for our members.
  </p>

  <p>
    Become part of Cowork Niagara’s thriving community.
    <%= link_to "Learn more about membership benefits and sign up today", "/join.html" %>.
  </p>
</div>

<div class="section">
  <h2>Our Board</h2>

  <p>
    Cowork Niagara is a community owned and managed co-operative. Our volunteer
    board members meet twice a month to review and manage finances, organize
    events and submit reports for the committees they chair.
  </p>

  <p>
    Meet our dedicated board members:
  </p>

  <ul class="list">
    <li>Adam Daniels</li>
    <li>Allison Smith</li>
    <li>Trevor Twining</li>
  </ul>
</div>

<div class="section">
  <h2>How you can get involved</h2>

  <p>
    Are you looking for a distraction-free place to work, industry-targeted events
    and opportunities to collaborate with other entrepreneurs? We’re waiting for
    you at Cowork Niagara.
  </p>

  <p>
    We’re a volunteer-run, community owned and managed co-operative, so every
    dollar in membership fees, sponsorships and donations goes right back to our
    members. You can join our thriving community and:
  </p>

  <ul class="list">
    <li>Attend our free or members-only <strong>events</strong></li>
    <li>Become a <strong>member</strong></li>
    <li>Join or chair a <strong>committee</strong> (events, website, bylaws)</li>
    <li>Join our <strong>board</strong></li>
  </ul>
</div>

<div class="section">
  <h2>Why join?</h2>

  <p>
    We believe that the true potential of creative, independent knowledge workers
    is unlocked when our ideas and work have the opportunity to cross pollinate
    with the work of our peers in a shared space. Join a group of brilliant,
    passionate, independent creatives who are helping transform Niagara’s economic
    landscape.
  </p>

  <p>
    Here are a few reasons to join:
  </p>

  <h4>Members earn more</h4>
  <p>
    People who join a coworking space improve their income more quickly than those
    who do not. We provide an environment where members learn from and collaborate
    with one another.
  </p>

  <h4>Interact and collaborate with other entrepreneurs</h4>
  <p>
    Cowork Niagara is a shared space where freelancers, social entrepreneurs and
    non-profit groups work, collaborate and make awesome stuff together. Interact
    with people from a wide range of industries in a zero-pressure environment.
    We believe in building lasting business relationships, exchanging ideas and
    spreading knowledge to help you grow personally and professionally.
  </p>

  <h4>You get a vote</h4>
  <p>
    Each of our members gets an equal vote in decisions about Cowork Niagara’s
    future. You can help steer the direction of Niagara’s first and only
    cooperative coworking space. Attend our Annual General Meeting to stay up to
    date on what’s happening.
  </p>

  <h4>Advocacy</h4>
  <p>
    Part of being an entrepreneur is working with elected officials and groups
    at all levels of government to make Niagara more business-friendly. Add your
    voice to our collective efforts and take part in conversations about open
    data, transparency, our startup culture, the local cooperative movement and
    much more.
  </p>

  <h4>Industry-targeted events</h4>
  <p>
    Cowork Niagara offers the region’s largest calendar of independently focused
    events. We organize educational, interactive, fun free and members-only events
    and meet-ups for entrepreneurs in the marketing, sales, web and software
    development industries. Whether it’s a Hamilton-Niagara Drupal group meet-up,
    DevTricks (for developers), WriteTricks (for writers), a Sales Crafting
    meeting or one of our many others, you can find or create your niche.
  </p>
</div>

<div class="section">
  <h2>Why we’re a co-op</h2>

  <p>
    To understand why the co-operative model is such a natural fit for Cowork
    Niagara, you have to know what a co-op is. Here’s a definition set out by the
    <a href="http://ica.coop" target="_blank">International Co-operative Alliance</a>:
  </p>

  <blockquote>
    A co-operative is an autonomous association of persons united voluntarily to
    meet their common, economic, social and cultural needs and aspirations through
    a jointly owned and democratically controlled enterprise.
  </blockquote>


  <p>
    We chose the co-op structure because:
  </p>

  <h4>All our members benefit</h4>
  <p>
    Every member is an owner, and we put members first. That means that as a
    member, you get a vote on issues that affect Cowork Niagara and you help guide
    the organization in the direction that’s most beneficial to our membership.
    Surpluses go back to our membership, not into an owner’s pockets.
  </p>

  <h4>We’re community owned and managed</h4>
  <p>
    Cowork Niagara is supported, owned and managed by a dedicated volunteer board
    and members who use the space regularly, so you know they’re accessible,
    approachable and in touch with what freelancers are looking for in a coworking
    space (and we’d love for you to get involved). There’s no single individual
    owner looking at the bottom line. We’re here to serve you and all our members,
    not to maximize shareholders’ wealth.
  </p>

  <h4>Co-ops survive and thrive</h4>
  <p>
    The survival rate of co-ops is twice as high as regular businesses (62% versus
    35% in the first five years of operation). More than four out of 10 co-ops
    survive 10+ years, compared to two businesses out of 10 for the private sector.
  </p>

  <p>
    Become part of Cowork Niagara’s thriving community.
    <%= link_to "Learn more about membership benefits and sign up today", "/join.html" %>.
  </p>
</div>
