---
title: Visiting Cowork Niagara
directory_index: false
---
<%= partial "schema" %>
<div class="section">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.860005469385!2d-79.23006164925776!3d43.17046267903846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d350f4245d5811%3A0x34a16d73fd5de46e!2s325+Welland+Ave%2C+St.+Catharines%2C+ON+L2R+2R2!5e0!3m2!1sen!2sca!4v1493747539405" width="400" height="300" class="map"></iframe>

  <p>
    Cowork Niagara is located at 325 Welland Avenue (suite 220) in wonderful St. Catharines, Ontario.
    You can find our building located across from the Book Depot, and our suite on the second level
    of the main building, with our main enterance on the left (West) side of the building, entering from the paved
    parking lot, and then proceeding immediately up the stairs. This is the side that's closest to the railway tracks.
  </p>

  <p>
    Our space has been beautifully renovated and is extremely spacious. The front of the space has
    a large group of windows offering an incredible amount of natural light in during the day. The
    space is setup with multiple workstations that members can choose from. Whiteboards allow the
    visualizing of ideas, and our own Book and Tech Library is a great resource. We have a
    fully-equipped kitchenette for member use, complete with coffee maker, kettle, fridge, and
    microwave.
  </p>

  <h2>Parking</h2>

  <p>
    Our space includes plenty of free on-site parking. Visitors should use the gravel lot on the East side of the building (in front of Evolve MMA).
  </p>
</div>
