---
title: "Cowork Niagara's Feelancer Lab: The secret formula for high-performing freelance practices"
seo_desc: "Learn how to build a high-earning, stable freelance practice from the experts at Cowork Niagara, home of Niagara's independent workforce."
---
<div class="section">
  <%= tag :img, :src => "/images/freelancer-lab-2016.jpg", :alt => "Picture of test tubes filled with various solutions. Cowork Niagara will help you find the right combination of elements to run your freelance practice." %>
    <h2 id="learn-the-secret-formula-for-a-thriving-freelance-practice">Learn the secret formula for a thriving freelance practice</h2>
    <p>Building a freelance practice from scratch is tough.</p>
    <p>How do you sell? How do you even find customers? How do you make sure you’re charging enough? How do you collect the money once you’re done?</p>
    <p>How you deal with each of these questions has a huge impact on your success. If you’re struggling with your current income or are having trouble building a practice that gives you the freedom you thought freelancers enjoyed, Cowork Niagara’s Freelancer
        Lab will help you build a freelance practice that will grow your income and change your life.</p>
    <p>We’ve built a course based on 40 years of successful freelance experience. We’ll show you both what you should be doing to earn more and stabilize your income, and also how to avoid all the freelancer pitfalls that soak up your time and keep you stuck.</p>
    <h2>The support you need to keep you on track.</h2> At Cowork Niagara, we get it because we’ve all been there ourselves. we’re the home of Niagara’s independent workforce. We’re actually the only place in Canada that offers training for building high-performing freelance practices. Our members learn
    from, and support one another. That support converts to higher, more stable income than even if you had stayed in full-time employment.
    <p>
    </p>
    <h2>Course Details</h2>
    <h3 id="duration-8-weeks">Duration: 8 weeks</h3>
    <h3 id="runs-oct-1-nov-19">Runs: Oct 1— Nov 19</h3>
    <h3 id="sessions-run-10am-noon">Sessions run: 10am – noon</h3>
    <h3 id="cost-800-600-for-cowork-niagara-members-">Cost: $800 ($600 for Cowork Niagara members)</h3>
    <h3 id="we-accept-cheque-cash-credit">We accept: cheque, cash, credit</h3>
    <p>Cost includes 1 month of full-time hotdesk subscription at Cowork Niagara. Participants are expected to be in 2–3 days per week during the course.</p>
    <h2>Course Outline</h2>
    <p><strong>Week 1:</strong> Introductions, baseline-setting</p>
    <p><strong>Week 2:</strong> Mission vision &amp; values, your ideal client</p>
    <p><strong>Week 3:</strong> Sales 101</p>
    <p><strong>Week 4:</strong> Freelancer canvas</p>
    <p><strong>Week 5:</strong> Your practice plan</p>
    <p><strong>Week 6:</strong> Success habits</p>
    <p><strong>Week 7:</strong> Sales 2</p>
    <p><strong>Week 8:</strong> Masterminds &amp; accountability partners</p>

      <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Build Your Ideal Freelance Practice: Cowork Niagara Freelancer Lab",
        "description": "Cowork Niagara’s Freelancer Lab will help you build a freelance practice that will grow your income and change your life.",
        "performer": "Trevor Twining",
        "location": {
          "@type": "Place",
          "name": "Cowork Niagara",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "St. Catharines",
            "addressRegion": "ON",
            "streetAddress": "325 Welland Avenue",
            "postalCode": "L2R 2R2"
          },
          "url": "http://www.coworkniagara.com"
        },
        "offers": {
          "@type": "AggregateOffer",
          "lowPrice": "$600",
          "offerCount": "8"
        },
        "image": [
          "http://www.coworkniagara.com<%= asset_url "/images/freelancer-lab-2016.jpg" %>"
        ],
        "startDate": "2016-10-01T10:00",
        "url": "http://www.coworkniagara.com"
      }
      </script>

</div>
