---
title: Join Cowork Niagara
directory_index: false
---
<div class="section join">
  <p class="values">
    If you also believe that the true potential of creative, independent knowledge workers
    is unlocked when our ideas and work have the opportunity to cross pollinate
    with the work of our peers in a shared space, then you should become part of Niagara's
    independent workforce.
  </p>
  <p>
    Join a group of brilliant, passionate, independent creatives who are helping
    transform Niagara’s economic landscape.
  </p>
  <div class="subsection reasons">
    <p>
      Become part of Cowork Niagara’s thriving community.
    </p>
    <p class="center">
      <a href="http://join.coworkniagara.com" target="_blank"><button>Sign up today!</button></a>
    </p>
  </div>
</div>

<div class="section supporting">
  <h2>Annual Membership</h2>
  <p>
    Cowork Niagara has an annual membership fee of $125 for individuals and $250 for corporate accounts (see <a href="http://join.coworkniagara.com">the sign up page</a> for details on which membership is right for you).
  </p>
  <p>
    Included in your annual membership is the following:
  </p>
  <ul class="list">
    <li>
      One free day per month to work in our space including:
      <ul class="list">
        <li>Wi-Fi and Printer access</li>
        <li>Upstairs work area</li>
        <li>Library</li>
        <li>Projector</li>
        <li>Fridge and microwave</li>
        <li>Couch and loveseat for when you need a break (or a nap!)</li>
        <li>Coffee (and other caffeinated/non-caffeinated beverages)</li>
      </ul>
    </li>

    <li>Access to member only <%= link_to "events", "/events.html" %>!</li>
    <li>Use of our meeting space to hold presentations, seminars, board meetings, workshops and more!</li>
    <li>Access to our community of fellow members, chat, discuss issues and solve problems, and network to grow everyone's business</li>
    <li>Additional days available at $15/day (space permitting)</li>
  </ul>
  <p>
    You can <a href="http://join.coworkniagara.com" target="_blank">sign up</a> for an annual membership online! To set up extra desk space (see below) you'll have to <a href="http://www.coworkniagara/find-us.html">come in and see us</a> Monday to Friday between 9am and 5pm.
  </p>
</div>

<div class="section supporting">
  <div class="subsection">
    <h2>Flexible Pricing on Desk Space</h2>
    <p>
      For those of you that require more than a single day per month of work space we have a number of
      pricing options available to suit your needs. To set up extra desk space you'll have to
      <%= link_to "come in and see us", "/find-us.html" %> Monday to Friday between 9am and 5pm.
    </p>

    <ul class="bullets space-pricing">
      <li class="bullet">
        <div class="bullet-icon bullet-icon-1">
          <img src="/images/icon-package-unlimited.svg" alt="Unlimited Package icon" aria-hidden="true">
        </div>
        <div class="bullet-content">
          <h2>Unlimited use</h2>
          <p>Hot desk space all day, every day. Key access.</p>
          <p class="price"><strong>$100</strong> per month</p>
          <p class="details">On a monthly plan</p>
          </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-3">
          <img src="/images/icon-package-dedicated.svg" alt="Dedicated Desk Package icon" aria-hidden="true">
        </div>
        <div class="bullet-content">
          <h2>Dedicated Desk</h2>
          <p>A place to call your own for as long as you need it.</p>
          <p class="price"><strong>$200</strong> per month</p>
          <p class="details">On a monthly plan</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="subsection">
    <h2 class="more-bottom">Here are a few more reasons to join:</h2>
    <h3 class="h4">Members earn more</h3>
    <p>
      People who join a coworking space improve their income more quickly than
      those who do not (Source: <a href="http://www.deskmag.com/en/the-coworking-market-report-forecast-2014" target="_blank">Deskmag - The Coworking Market Report Forecast 2014</a>).
      We provide an environment where members learn from and collaborate with one another.
    </p>
  </div>
  <div class="subsection">
    <h3 class="h4">Interact and collaborate with other entrepreneurs</h3>
    <p>
      Cowork Niagara is a shared space where freelancers, social entrepreneurs
      and non-profit groups work, collaborate and make awesome stuff together.
      Interact with people from a wide range of industries in a zero-pressure
      environment. We believe in building lasting business relationships,
      exchanging ideas and spreading knowledge to help you grow personally
      and professionally.
    </p>
  </div>
  <div class="subsection">
    <h3 class="h4">You get a vote</h3>
    <p>
      Each of our members gets an equal vote in decisions about Cowork
      Niagara’s future. You can help steer the direction of Niagara’s first and
      only cooperative coworking space. Attend our Annual General Meeting
      to stay up to date on what’s happening.
    </p>
  </div>
  <div class="subsection">
    <h3 class="h4">Together we have a stronger voice</h3>
    <p>
      Part of being an entrepreneur is working with elected officials and groups
      at all levels of government to make Niagara more business-friendly. Add
      your voice to our collective efforts and take part in conversations about
      open data, transparency, our startup culture, the local cooperative movement
      and much more.
    </p>
  </div>
  <div class="subsection">
    <h3 class="h4">Professional development made just for you</h3>
    <p>
      Cowork Niagara offers the region’s largest calendar of independently
      focused events. We organize educational, interactive, fun free and
      members-only events and meet-ups for entrepreneurs in the marketing,
      sales, web and software development industries. Whether it’s a
      Hamilton-Niagara Drupal group meet-up, DevTricks (for developers),
      WriteTricks (for writers), a Sales Crafting meeting or one of our
      many others, you can find or create your niche.
    </p>
  </div>
  <div class="subsection">
    <p class="center">
      Become part of Cowork Niagara’s thriving community.
    </p>
    <p class="center">
      <a href="http://join.coworkniagara.com" target="_blank"><button>Sign up today!</button></a>
    </p>
  </div>
</div>
